In [1]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv("http://minethatdata.com/Kevin_Hillstrom_MineThatData_E-MailAnalytics_DataMiningChallenge_2008.03.20.csv")

In [7]:
df.head()

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend
0,10,2) $100 - $200,142.44,1,0,Surburban,0,Phone,Womens E-Mail,0,0,0.0
1,6,3) $200 - $350,329.08,1,1,Rural,1,Web,No E-Mail,0,0,0.0
2,7,2) $100 - $200,180.65,0,1,Surburban,1,Web,Womens E-Mail,0,0,0.0
3,9,5) $500 - $750,675.83,1,0,Rural,1,Web,Mens E-Mail,0,0,0.0
4,2,1) $0 - $100,45.34,1,0,Urban,0,Web,Womens E-Mail,0,0,0.0

In [8]:
np.unique(df["segment"])

array(['Mens E-Mail', 'No E-Mail', 'Womens E-Mail'], dtype=object)

In [9]:
len(df)

64000

In [13]:
# 男性向けメールが配信されたユーザにのみ限定
male_df = df.query(" segment!= 'Womens E-Mail' ").copy()
male_df["treatment"] = (male_df["segment"]=="Mens E-Mail").astype(int)

In [14]:
male_df.head()

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,treatment
1,6,3) $200 - $350,329.08,1,1,Rural,1,Web,No E-Mail,0,0,0.0,0
3,9,5) $500 - $750,675.83,1,0,Rural,1,Web,Mens E-Mail,0,0,0.0,1
8,9,5) $500 - $750,675.07,1,1,Rural,1,Phone,Mens E-Mail,0,0,0.0,1
13,2,2) $100 - $200,101.64,0,1,Urban,0,Web,Mens E-Mail,1,0,0.0,1
14,4,3) $200 - $350,241.42,0,1,Rural,1,Multichannel,No E-Mail,0,0,0.0,0

In [15]:
# 介入があったグループとなかったグループでのconversion(売り上げが発生したら1、そうでないなら0)の発生率を確認
male_df.groupby("treatment").conversion.mean()

treatment
0    0.005726
1    0.012531
Name: conversion, dtype: float64

In [16]:
# 売り上げ金額
male_df.groupby("treatment").spend.mean()

treatment
0    0.652789
1    1.422617
Name: spend, dtype: float64

In [18]:
male_df.groupby("treatment").size()

treatment
0    21306
1    21307
dtype: int64

In [25]:
from statsmodels.stats.weightstats import ttest_ind

y1 = male_df.query("treatment==1").spend.to_numpy()
y0 = male_df.query("treatment==0").spend.to_numpy()
print(y1.var(), y0.var())

315.19700505136865 134.2800691039438

In [36]:
t_statistics, p_value, _ = ttest_ind(y1, y0, usevar="unequal")
print(f"t-statistics：{t_statistics}")
print(f"p-value：{p_value}")

t-statistics：5.300140358411662
p-value：1.1638149682255265e-07